<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(61237756, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/61237756" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <title>Material detection</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header></header>
    <div class="content">
        <h1 class="title">Нейронная сеть для определения материала, которым был написан портрет</h1>
        <div id="select-block">
            <button class="select_button" onclick="document.getElementById('upload').click()">
                <img src="../static/data/button.png">
            </button>
        </div>
        <div id="preview-block">
            <img id="preview-image" src="">
            <button id="other-image" onclick="document.getElementById('upload').click()">Другая фотография</button>
        </div>
        <input type="file" id="upload" style="display: none" onchange="upload_file(event)">
        <div id="upload-message">
            <p id="message">Загрузите изображение, чтобы определить, чем был нарисован портрет</p>
            <div id="right-answer">
                <select id="selected-answer"></select>
                <button id="fetch-answer" onclick="fetchAnswer()">Отправить</button>
            </div>
        </div>

    </div>
    <div id="buttons">
        <a href="https://vk.com/mrjoulin"><button id="vk"><img src="../static/data/vk-icon.webp" width="50px" height="50px"></button></a>
        <a href="https://teleg.one/joulin"><button id="tg"><img src="../static/data/tg-icon.png" width="50px" height="50px"></button></a>
    </div>
<script src="../static/js/index.js"></script>
</body>
</html>