<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material detection</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header></header>
    <div class="content">
        <h1 class="title">Нейронная сеть для определения материала, которым был написан портрет</h1>
        <div id="select-block">
            <button class="select_button" onclick="document.getElementById('upload').click()">
                <img src="../static/data/button.png">
            </button>
        </div>
        <div id="preview-block">
            <img id="preview-image" src="">
            <button id="other-image" onclick="document.getElementById('upload').click()">Другая фотография</button>
        </div>
        <input type="file" id="upload" style="display: none" onchange="upload_file(event)">
        <div id="upload-message">
            <p id="message">Загрузите изображение, чтобы определить, чем был наисован портрет</p>
            <div id="right-answer">
                <select id="selected-answer"></select>
                <button id="fetch-answer" onclick="fetchAnswer()">Отправить</button>
            </div>
        </div>

    </div>
    <div id="buttons">
        <a href="https://vk.com/mrjoulin"><button id="vk"><img src="../static/data/vk-icon.webp" width="50px" height="50px"></button></a>
        <a href="https://teleg.one/joulin"><button id="tg"><img src="../static/data/tg-icon.png" width="50px" height="50px"></button></a>
    </div>
<script src="../static/js/index.js"></script>
</body>
</html>